.nav
    a(href=`${baseUrl}${""}`)
        .logo
    ul.menu
        li #[a(href=`${baseUrl}${"/weekly-menu"}`) Weekly Menu]
        li #[a(href=`${baseUrl}${"/cities"}`) Cities]
        li #[a(href=`${baseUrl}${"/sign-up"}`) Sign Up]